.b-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.b-form div:first-of-type {
  display: grid;
  gap: 1rem;
}
.b-form > div:last-child {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  justify-items: stretch;
  align-items: end;
}

.b-form div:last-child button {
  grid-column: 1 / -1;
  justify-self: center;
}
