.list-avatar {
  display: grid;
}
.list-avatar div:first-child {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.modify-avatar {
  opacity: 25%;
}
.list-avatar button {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  color: #03a9f4;
  width: 75%;
  justify-self: center;
}
.list-avatar button svg {
  font-size: 2rem;
}
